<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel = "stylesheet" href="assets/css/style.css">
</head>
<body>
  <h1>Header</h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident possimus doloremque exercitationem voluptates, similique culpa accusamus nihil neque quo esse quos eos asperiores vitae eius unde? Eum adipisci rerum laudantium saepe iusto.</p>
<script src="assets/js/main.js"></script>
</body>
</html>