body {
  color: #8e8e8e;
  background-color: #e5eaed;
  font-family: Raleway, sans-serif;
  font-weight: 400;
}

.header {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 75vh;
  padding: 20px;
  background-image: url(../../assets/images/rio.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.header-navbar__list {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  list-style: none;
  font-size: 1.125rem;
}

.header-navbar__item {
  margin: 1vw 3vw;
}

.header-navbar__link {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 1em;
}

.header-navbar__link__accent {
  padding: 10px 30px;
  background-color: #878586;
}

.header-navbar__link:hover {
  color: #44596e;
}

.border {
  width: 1px;
  content: "|";
  background-color: #ffffff;
}
